body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.container{
    align-items: center;
    background-color: black;
    margin-top: 50px;
}

button{
    margin-top: 30px;
    margin-left: 80px;
}

button:hover{
    background-color: black;
    color: white;
}

.userDetails{
    margin-top: 30px;
    color: white;
}